<!DOCTYPE html>
<html>
    <head>
        <title>MentorMe</title>
        <%- include ('../partials/head.ejs') %>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
        <!-- Bulma Version 0.7.1-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
        <link rel="stylesheet" href="/main-hero.css">
    </head>
    <body>
        <div style="flex: 1 0 auto;">
            <section class="hero is-info is-medium is-bold">
                <div class="hero-head">
                    <nav class="navbar">
                        <div class="container">
                            <div class="navbar-brand">
                                <span class="navbar-item">
                                    <img src="/short.png" alt="Logo">
                                </span>
                                <span class="navbar-burger burger" data-target="navbarMenu">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </div>
                            <div id="navbarMenu" class="navbar-menu">
                                <div class="navbar-end">
                                    <div class="tabs is-right">
                                        <ul>
                                            <li class="is-active"><a>Home</a></li>
                                            <li><a>Contact</a></li>
                                            <!-- <li><a href="/team">Team</a></li> -->
                                            <!-- <li><a href="/projects">Projects</a></li> -->
                                            <li><a href="/leaderboard">Leaderboard</a></li>
                                        </ul>
                                        <% if (typeof loggedIn !== 'undefined' && loggedIn) { %>
                                            <span class="navbar-item">
                                                <a class="button is-white is-outlined" href="/dashboard">
                                                    <span class="icon">
                                                        <i class="fas fa-tachometer-alt"></i>
                                                    </span>
                                                    <span title="Dashboard">Dashboard</span>
                                                </a>
                                            </span>
                                        <% } else { %>
                                            <span class="navbar-item">
                                                <a class="button is-white is-outlined" href="/login">
                                                    <span class="icon">
                                                        <i class="fas fa-lock"></i>
                                                    </span>
                                                    <span title="Login">Login</span>
                                                </a>
                                            </span>
                                        <% } %>
                                    </div>
                                    <!-- <div class="navbar-item has-dropdown is-hoverable">
                                        <a class="navbar-link" href="/documentation/overview/start/">
                                            More
                                        </a>
                                        <div class="navbar-dropdown is-boxed">
                                            <a class="navbar-item" href="/documentation/overview/start/">
                                                Mechandise
                                            </a>
                                            <a class="navbar-item" href="https://bulma.io/documentation/modifiers/syntax/">
                                                Extras
                                            </a>
                                            <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
                                                Media
                                            </a>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <!-- <div class="columns"> -->
                            <!-- <div class="column"> -->
                                <div id="main-image-div">
                                    <img src="/mentorme-big.png" alt="MentorMe Logo" id="main-image">
                                </div>
                            <!-- </div> -->
                        <!-- </div> -->
                        <h2 class="subtitle is-size-4">
                            Building a harmonious future one mentorship at a time.
                        <!-- MentorMe is fjdksfjsdkfjdskfjs.... -->
                        </h2>
                    </div>
                </div>
            </section>
            <!-- <div class="box cta">
                <p class="has-text-centered">
                    <span class="tag is-warning">Notice</span>&nbsp;&nbsp;TODO: replace this later
                </p>
            </div> -->
            <section class="container" id="bottom-text" style="margin-top:40px;">
                <!-- <div class="intro column is-8 is-offset-2"> -->
                    <!-- <h2 class="title" style="letter-spacing: -0.5px;">No Experience Necessary!</h2><br> -->
                    <!-- <p class="subtitle">MentorMe is ......... -->
                        <!--<br><b><a href="/join">Join Now!</a></b>-->
                    <!-- </p> -->
                <!-- </div> -->
                <!-- <div class="intro column is-8 is-offset-2" style="padding:20px 0px 0px 0px;"> -->
                    <!-- <h3 class="title" style="letter-spacing: -0.5px;font-size:28px;">Some of the things we do:</h2><br> -->
                    <!-- <p class="subtitle">You don't have to be a programmer or have any exprerience coding to join, this is a club for learning!</p> -->
                <!-- </div> -->
                <div class="columns">
                    <div class="column has-text-centered">
                        <p class="title">
                            Mission Statement
                        </p>
                        <p class="content is-size-4">
                            Our mission at MentorMe is to empower underserved high school students by providing them with personalized mentorship and guidance from college student mentors. Through our innovative <b>AI-powered matching algorithm</b>, we strive to bridge the gap between aspiring students and their dreams, helping them succeed both personally and professionally. Together, we can create a more harmonious future for all.

                        </p>
                    </div>
                    <!-- <div class="column has-text-centered">ted9</div> -->
                </div>
                <div class="intro column is-8 is-offset-2" style="padding:20px 0px 0px 0px;">
                    <h3 class="title" style="letter-spacing: -0.5px;font-size:28px;">Our Team</h2><br>
                </div>
                <div class="columns" style="margin-top:-30px;">
                    <div class="column"></div>
                    <div class="column core-team-picture is-one-fifth">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="https://avatars3.githubusercontent.com/u/11153164">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Daniel Blittschau</p>
                                        <p class="subtitle is-6">Fisher Hall</p>
                                    </div>
                                </div>
                                <!-- <div class="content">
                                    Some example text
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="column core-team-picture is-one-fifth">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <img src="https://avatars.githubusercontent.com/u/92064801?v=4">
                                    <!-- <img src="/micah.jpg"> -->
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Jack Wilson</p>
                                        <p class="subtitle is-6">Siegfried Hall</p>
                                    </div>
                                </div>
                                <!-- <div class="content">
                                    Some example text
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="column core-team-picture is-one-fifth">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <!-- <img src="https://bulma.io/images/placeholders/480x480.png" alt="Placeholder image"> -->
                                    <img src="https://yld.me/raw/gEOV.jpg">
                                    <!-- <img src="https://yld.me/raw/isY2.jpg"> -->
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">Collin Bowers</p>
                                        <p class="subtitle is-6">Duncan Hall</p>
                                    </div>
                                </div>
                                <!-- <div class="content">
                                    Some example text
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="column core-team-picture is-one-fifth">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-1by1">
                                    <!-- <img src="https://yld.me/raw/jYMO.png"> -->
                                    <img src="https://avatars.githubusercontent.com/u/69359897?v=4" alt="">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">
                                            John Flanagan
                                            <!-- memonteto -->
                                        </p>
                                        <p class="subtitle is-6">Duncan Hall</p>
                                    </div>
                                </div>
                                <!-- <div class="content">
                                    Some example text
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="column"></div>
                </div>
            </section>
            <section class="hero is-info">
                <div class="container">
                    <div class="columns" style="padding-bottom:40px;">
                        <div class="column">
                            <p class="title has-text-centered" style="padding-top:70px;">The Problem</p>
                            <p class="content is-size-4">
                                Although there is no shortage of online educational resources available to aspiring college students from underserved high schools, these students are desperately seeking a valuable personal connection. Guidance on higher education, help with career direction, and general life advice are all areas where these students crave individualized support and mentorship.
                            </p>
                        </div>
                        <div class="column is-two-fifths">
                            <img src="https://yld.me/raw/gCk0.jpg" alt="" style="margin-top:60px;">
                        </div>
                    </div>
                </div>
            </section>
            <section class="hero">
                <div class="container">
                    <div class="columns" style="padding-bottom:40px;">
                        <div class="is-two-fifths column">
                            <img src="https://yld.me/raw/cPys.png" alt="" style="margin-top:160px;">
                        </div>
                        <div class="column">
                            <p class="title has-text-centered" style="padding-top:100px;">Our Solution</p>
                            <p class="content is-size-4">
                                MentorMe is a website where high school students are paired with college student mentors who help them with life advice, career direction, and academic guidance. In addition to a <b>service opportunity</b>, Notre Dame students <b><a href="/leaderboard">represent their dorms</a></b> in a competition for the highest percentage of participation. To increase ease of use, an <b>AI matching algorithm</b> pairs high school mentees with college mentors using a <b>natural language</b> description of their background, interests, strengths, and passions.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="hero" style="padding-bottom:150px;padding-top:70px;">
                <div class="container">
                    <div class="column is-offset-2 content">

                        <p class="has-text-weight-bold is-size-3 has-text-black">Future Plans:</p>
                    <p class="subtitle is-size-4">As MentorMe goes into the future, we intend to accomplish the following goals:</p>
                    <ul class="is-size-4">
                        <li>Provide more administrative support for mentors</li>
                        <li>Foster relationships with selected under-resourced high schools</li>
                        <li>Create mentorship programs for middle school students</li>
                        <li>Expand to college campuses across the country</li>
                        <!-- <li>Found a 501(c)3 non profit</li> -->
                        <li class="has-text-black has-text-weight-semibold">Create harmony throughout the world!</li>
                    </ul>
                    </div>
                </div>
            </section>
        </div>
        <%- include ('../partials/footer.ejs') %>
        <script type="text/javascript">
<%- include ('../scripts/burger.ejs') %>
        </script>
    </body>
</html>
